/*css table markup*/
.sheet-table {
    display: table;
    width: 100%;
}

.sheet-table.sheet-checktable {
    width: 500px;
}

.sheet-table.sheet-checktable > .sheet-row > .sheet-cell {
    text-align: center;
}

.sheet-row {
    display: table-row !important;
    width: 100%;
}

div.sheet-spacer,
.sheet-row.sheet-empty-row {
    height:20px;
}

.sheet-row.sheet-two-col-row > .sheet-cell {
    width: 50%;
}

.sheet-row.sheet-three-col-row > .sheet-cell {
    width: 33%;
}

.sheet-row.sheet-vmiddle .sheet-cell {
    vertical-align: middle;
}

.sheet-cell {
    display: table-cell;
}

.sheet-cell.sheet-80pxcell {
    width: 80px;
}

.sheet-cell.sheet-100pxcell {
    width: 100px;
}

.sheet-cell.sheet-160pxcell {
    width: 160px;
}

.sheet-table.sheet-padded > .sheet-row > .sheet-cell {
    padding: 5px;
}

.sheet-table.sheet-side-padded > .sheet-row > .sheet-cell {
    padding: 0 5px;
}

.sheet-cell.sheet-vmiddle {
    vertical-align: middle;
}

.sheet-clear {
    clear: both;
}

.sheet-centered {
    margin: 0 auto;
}

/*talent activation*/
input[type="checkbox"][name="attr_twohanded_flails_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-twohanded_flails,
input[type="checkbox"][name="attr_sling_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-sling,
input[type="checkbox"][name="attr_discus_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-discus,
input[type="checkbox"][name="attr_whip_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-whip,
input[type="checkbox"][name="attr_chain_staff_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-chain_staff,
input[type="checkbox"][name="attr_blowgun_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-blowgun,
input[type="checkbox"][name="attr_siege_weapons_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-siege_weapons,
input[type="checkbox"][name="attr_twohanded_swords_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-twohanded_swords,
input[type="checkbox"][name="attr_twohanded_baton_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-twohanded_baton,
input[type="checkbox"][name="attr_throwing_spear_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-throwing-spear,
input[type="checkbox"][name="attr_throwing_axe_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-throwing-axe,
input[type="checkbox"][name="attr_staff_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-staff,
input[type="checkbox"][name="attr_spear_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-spear,
input[type="checkbox"][name="attr_sword_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-sword,
input[type="checkbox"][name="attr_lancing_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-lancing,
input[type="checkbox"][name="attr_infantry_weapons_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-infantry_weapons,
input[type="checkbox"][name="attr_chain_weapons_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-chain_weapons,
input[type="checkbox"][name="attr_fencing_weapon_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-fencing_weapon,
input[type="checkbox"][name="attr_bow_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-bow,
input[type="checkbox"][name="attr_crossbow_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-crossbow,
input[type="checkbox"][name="attr_bastard_sword_activate"]:checked.sheet-activate ~ .sheet-fighting .sheet-activate.sheet-row.sheet-fighting-talent-bastard_sword {
    display: table-row !important;
}
input[type="checkbox"][name="attr_twohanded_flails_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="twohanded_flails"].sheet-activate,
input[type="checkbox"][name="attr_sling_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="sling"].sheet-activate,
input[type="checkbox"][name="attr_discus_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="discus"].sheet-activate,
input[type="checkbox"][name="attr_whip_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="whip"].sheet-activate,
input[type="checkbox"][name="attr_chain_staff_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="chain_staff"].sheet-activate,
input[type="checkbox"][name="attr_blowgun_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="blowgun"].sheet-activate,
input[type="checkbox"][name="attr_siege_weapons_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="siege_weapons"].sheet-activate,
input[type="checkbox"][name="attr_twohanded_swords_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="twohanded_swords"].sheet-activate,
input[type="checkbox"][name="attr_twohanded_baton_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="twohanded_baton"].sheet-activate,
input[type="checkbox"][name="attr_throwing_spear_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="throwing_spear"].sheet-activate,
input[type="checkbox"][name="attr_throwing_axe_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="throwing_axe"].sheet-activate,
input[type="checkbox"][name="attr_staff_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="staff"].sheet-activate,
input[type="checkbox"][name="attr_spear_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="spear"].sheet-activate,
input[type="checkbox"][name="attr_sword_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="sword"].sheet-activate,
input[type="checkbox"][name="attr_lancing_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="lancing"].sheet-activate,
input[type="checkbox"][name="attr_infantry_weapons_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="infantry_weapons"].sheet-activate,
input[type="checkbox"][name="attr_chain_weapons_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="chain_weapons"].sheet-activate,
input[type="checkbox"][name="attr_fencing_weapon_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="fencing_weapon"].sheet-activate,
input[type="checkbox"][name="attr_bow_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="bow"].sheet-activate,
input[type="checkbox"][name="attr_crossbow_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="crossbow"].sheet-activate,
input[type="checkbox"][name="attr_bastard_sword_activate"]:checked.sheet-activate ~ .sheet-fighting option[value="bastard_sword"].sheet-activate {
    display: inherit !important;
}

.sheet-fighting select > option.sheet-activate,
.sheet-fighting .sheet-fighting-talents .sheet-activate {
    display: none !important;
}

/*attribute css*/
.sheet-table.sheet-attribute-table {
    width: 400px;
    position: relative;
}

.sheet-table.sheet-attribute-table.sheet-right {
    float: right;
}

.sheet-table.sheet-attribute-table.sheet-top-right {
    position: absolute;
    top: 10px;
    right: 10px;
}

.sheet-table.sheet-attribute-table.sheet-left {
    float: left;
}

.sheet-table.sheet-full {
    width: 100%;
}

.sheet-attribute-list {
    position: relative;
}

.sheet-attribute-list > * {
    margin: 5px;
}

.sheet-attribute-list span {
    width: 50%;
}

.sheet-attribute-list input {
    right: 0;
    max-width: 30px !important;
    text-align: right;
    padding: 2px;
}

.sheet-hidden {
    display: none;
}

/*css navigation*/
input.sheet-hidden-input {
    opacity: 0;
    width: 90px;
    cursor: pointer;
    height: 13px;
    margin-bottom: 10px;
}
input.sheet-navigation.sheet-config:checked ~ div.sheet-navigation.sheet-config,
input.sheet-navigation.sheet-fighting-ranged:checked ~ div.sheet-navigation.sheet-fighting-ranged,
input.sheet-navigation.sheet-fighting-melee:checked ~ div.sheet-navigation.sheet-fighting-melee,
input.sheet-navigation.sheet-fighting-talents:checked ~ div.sheet-navigation.sheet-fighting-talents,
input.sheet-navigation.sheet-fighting:checked ~ div.sheet-navigation.sheet-fighting,
input.sheet-navigation.sheet-talents:checked ~ div.sheet-navigation.sheet-talents,
input.sheet-navigation.sheet-general:checked ~ div.sheet-navigation.sheet-general {
    display: inherit !important;
}

input.sheet-navigation:checked + span.sheet-navigation {
    background-color: black;
    color: white;
}
input.sheet-ranged-weapon-1:checked ~ div.sheet-navigation.sheet-ranged-weapon-1,
input.sheet-ranged-weapon-2:checked ~ div.sheet-navigation.sheet-ranged-weapon-2,
input.sheet-ranged-weapon-3:checked ~ div.sheet-navigation.sheet-ranged-weapon-3,
input.sheet-melee-weapon-1:checked ~ div.sheet-navigation.sheet-melee-weapon-1,
input.sheet-melee-weapon-2:checked ~ div.sheet-navigation.sheet-melee-weapon-2,
input.sheet-melee-weapon-3:checked ~ div.sheet-navigation.sheet-melee-weapon-3{
    display: inherit !important;
}

span.sheet-navigation {
    margin-left: -90px;
    padding: 5px;
    margin-bottom: 5px;
    width: 90px;
}

div.sheet-navigation {
    display: none;
}

/*input markup*/

select {
    width: 100%;
}

input[type="text"] {
    width: 100%;
}

input[type="text"]:disabled,
input[type="number"]:disabled {
    background: lightgray;
}

input[type="number"] {
    max-width: 40px !important;
}


/*template markup*/
.sheet-rolltemplate-tp {
    background-color: grey;
    color: white;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 5px #030303;
    box-shadow: 1px 1px 5px 5px #030303;
    text-shadow: 1px 1px 1px #000000;
    margin: 10px 0;
}
.sheet-rolltemplate-atpa {
    background-color: grey;
    color: white;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 5px #030303;
    box-shadow: 1px 1px 5px 5px #030303;
    text-shadow: 1px 1px 1px #000000;
    margin: 10px 0;
}
.sheet-rolltemplate-talent {
    background-color: grey;
    color: white;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 5px #030303;
    box-shadow: 1px 1px 5px 5px #030303;
    text-shadow: 1px 1px 1px #000000;
    margin: 10px 0;
}
.sheet-rolltemplate-attribute {
    background-color: grey;
    color: white;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 5px #030303;
    box-shadow: 1px 1px 5px 5px #030303;
    text-shadow: 1px 1px 1px #000000;
    margin: 10px 0;
}

/*template head*/
.sheet-rolltemplate-tp .sheet-template-head {
    background-color: black;
    font-size: 150%;
    height: 150%;
}
.sheet-rolltemplate-atpa .sheet-template-head {
    background-color: black;
    font-size: 150%;
    height: 150%;
}
.sheet-rolltemplate-talent .sheet-template-head {
    background-color: black;
    font-size: 150%;
    height: 150%;
}
.sheet-rolltemplate-attribute .sheet-template-head {
    background-color: black;
    font-size: 150%;
    height: 150%;
}

/*template roll*/
.sheet-rolltemplate-tp .sheet-template-roll {
    height:150%;
}
.sheet-rolltemplate-atpa .sheet-template-roll {
    height:150%;
}
.sheet-rolltemplate-talent .sheet-template-roll {
    height:150%;
}
.sheet-rolltemplate-attribute .sheet-template-roll {
    height:150%;
}

/*template inline roll*/
.sheet-rolltemplate-tp > .sheet-template-result span.inlinerollresult.showtip.tipsy-n{
    color: black;
    text-shadow: none;
}
.sheet-rolltemplate-atpa > .sheet-template-result span.inlinerollresult.showtip.tipsy-n{
    color: black;
    text-shadow: none;
}
.sheet-rolltemplate-talent > .sheet-template-result span.inlinerollresult.showtip.tipsy-n{
    color: black;
    text-shadow: none;
}
.sheet-rolltemplate-attribute > .sheet-template-result span.inlinerollresult.showtip.tipsy-n{
    color: black;
    text-shadow: none;
}

/*template success*/
.sheet-rolltemplate-tp .sheet-template-success {
    color: green;
}
.sheet-rolltemplate-atpa .sheet-template-success {
    color: green;
}
.sheet-rolltemplate-talent .sheet-template-success {
    color: green;
}
.sheet-rolltemplate-attribute .sheet-template-success {
    color: green;
}

/*template fail*/
.sheet-rolltemplate-tp .sheet-template-fail {
    color: red;
}
.sheet-rolltemplate-atpa .sheet-template-fail {
    color: red;
}
.sheet-rolltemplate-talent .sheet-template-fail {
    color: red;
}
.sheet-rolltemplate-attribute .sheet-template-fail {
    color: red;
}

/*template styling*/
.sheet-rolltemplate-tp > div {
    padding: 5px;
}
.sheet-rolltemplate-atpa > div {
    padding: 5px;
}
.sheet-rolltemplate-talent > div {
    padding: 5px;
}
.sheet-rolltemplate-attribute > div {
    padding: 5px;
}